*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: rgb(7, 7, 7);                                     
}
html{
  overflow-x: hidden;
}